<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haohaodayouxi.manage.mapper.SRoleMapper">
  <resultMap id="BaseResultMap" type="com.haohaodayouxi.manage.model.db.SRole">
    <!--@mbg.generated-->
    <!--@Table s_role-->
    <id column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="role_type" jdbcType="VARCHAR" property="roleType" />
    <result column="create_uid" jdbcType="BIGINT" property="createUid" />
    <result column="update_uid" jdbcType="BIGINT" property="updateUid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="del_status" jdbcType="TINYINT" property="delStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    role_id, role_name, role_type, create_uid, update_uid, create_time, update_time, 
    version, del_status
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update s_role
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="role_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.roleName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="role_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.roleType,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="create_uid = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.createUid,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="update_uid = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.updateUid,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.updateTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="version = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.version,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="del_status = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.delStatus,jdbcType=TINYINT}
        </foreach>
      </trim>
    </trim>
    where role_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.roleId,jdbcType=BIGINT}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update s_role
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="role_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.roleName != null">
            when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.roleName,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="role_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.roleType != null">
            when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.roleType,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_uid = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createUid != null">
            when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.createUid,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_uid = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updateUid != null">
            when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.updateUid,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createTime != null">
            when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updateTime != null">
            when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.updateTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="version = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.version != null">
            when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.version,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="del_status = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.delStatus != null">
            when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.delStatus,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
    </trim>
    where role_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.roleId,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="role_id" keyProperty="roleId" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into s_role
    (role_name, role_type, create_uid, update_uid, create_time, update_time, version, 
      del_status)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.roleName,jdbcType=VARCHAR}, #{item.roleType,jdbcType=VARCHAR}, #{item.createUid,jdbcType=BIGINT}, 
        #{item.updateUid,jdbcType=BIGINT}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP}, 
        #{item.version,jdbcType=BIGINT}, #{item.delStatus,jdbcType=TINYINT})
    </foreach>
  </insert>
</mapper>
