<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haohaodayouxi.manage.mapper.SUserMapper">
  <resultMap id="BaseResultMap" type="com.haohaodayouxi.manage.model.db.SUser">
    <!--@mbg.generated-->
    <!--@Table s_user-->
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="user_code" jdbcType="VARCHAR" property="userCode" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_avatar" jdbcType="VARCHAR" property="userAvatar" />
    <result column="user_contact" jdbcType="VARCHAR" property="userContact" />
    <result column="remarks" jdbcType="LONGVARCHAR" property="remarks" />
    <result column="multiple_status" jdbcType="TINYINT" property="multipleStatus" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="create_uid" jdbcType="BIGINT" property="createUid" />
    <result column="update_uid" jdbcType="BIGINT" property="updateUid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="del_status" jdbcType="TINYINT" property="delStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    user_id, account, pwd, user_code, user_name, user_avatar, user_contact, remarks, 
    multiple_status, last_login_time, create_uid, update_uid, create_time, update_time, 
    version, del_status
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update s_user
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="account = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when user_id = #{item.userId,jdbcType=BIGINT} then #{item.account,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="pwd = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when user_id = #{item.userId,jdbcType=BIGINT} then #{item.pwd,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="user_code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when user_id = #{item.userId,jdbcType=BIGINT} then #{item.userCode,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="user_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when user_id = #{item.userId,jdbcType=BIGINT} then #{item.userName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="user_avatar = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when user_id = #{item.userId,jdbcType=BIGINT} then #{item.userAvatar,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="user_contact = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when user_id = #{item.userId,jdbcType=BIGINT} then #{item.userContact,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="remarks = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when user_id = #{item.userId,jdbcType=BIGINT} then #{item.remarks,jdbcType=LONGVARCHAR}
        </foreach>
      </trim>
      <trim prefix="multiple_status = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when user_id = #{item.userId,jdbcType=BIGINT} then #{item.multipleStatus,jdbcType=TINYINT}
        </foreach>
      </trim>
      <trim prefix="last_login_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when user_id = #{item.userId,jdbcType=BIGINT} then #{item.lastLoginTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="create_uid = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when user_id = #{item.userId,jdbcType=BIGINT} then #{item.createUid,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="update_uid = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when user_id = #{item.userId,jdbcType=BIGINT} then #{item.updateUid,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when user_id = #{item.userId,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when user_id = #{item.userId,jdbcType=BIGINT} then #{item.updateTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="version = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when user_id = #{item.userId,jdbcType=BIGINT} then #{item.version,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="del_status = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when user_id = #{item.userId,jdbcType=BIGINT} then #{item.delStatus,jdbcType=TINYINT}
        </foreach>
      </trim>
    </trim>
    where user_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.userId,jdbcType=BIGINT}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update s_user
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="account = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.account != null">
            when user_id = #{item.userId,jdbcType=BIGINT} then #{item.account,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="pwd = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.pwd != null">
            when user_id = #{item.userId,jdbcType=BIGINT} then #{item.pwd,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="user_code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.userCode != null">
            when user_id = #{item.userId,jdbcType=BIGINT} then #{item.userCode,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="user_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.userName != null">
            when user_id = #{item.userId,jdbcType=BIGINT} then #{item.userName,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="user_avatar = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.userAvatar != null">
            when user_id = #{item.userId,jdbcType=BIGINT} then #{item.userAvatar,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="user_contact = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.userContact != null">
            when user_id = #{item.userId,jdbcType=BIGINT} then #{item.userContact,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="remarks = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.remarks != null">
            when user_id = #{item.userId,jdbcType=BIGINT} then #{item.remarks,jdbcType=LONGVARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="multiple_status = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.multipleStatus != null">
            when user_id = #{item.userId,jdbcType=BIGINT} then #{item.multipleStatus,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="last_login_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.lastLoginTime != null">
            when user_id = #{item.userId,jdbcType=BIGINT} then #{item.lastLoginTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_uid = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createUid != null">
            when user_id = #{item.userId,jdbcType=BIGINT} then #{item.createUid,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_uid = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updateUid != null">
            when user_id = #{item.userId,jdbcType=BIGINT} then #{item.updateUid,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createTime != null">
            when user_id = #{item.userId,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updateTime != null">
            when user_id = #{item.userId,jdbcType=BIGINT} then #{item.updateTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="version = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.version != null">
            when user_id = #{item.userId,jdbcType=BIGINT} then #{item.version,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="del_status = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.delStatus != null">
            when user_id = #{item.userId,jdbcType=BIGINT} then #{item.delStatus,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
    </trim>
    where user_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.userId,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="user_id" keyProperty="userId" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into s_user
    (account, pwd, user_code, user_name, user_avatar, user_contact, remarks, multiple_status, 
      last_login_time, create_uid, update_uid, create_time, update_time, version, del_status
      )
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.account,jdbcType=VARCHAR}, #{item.pwd,jdbcType=VARCHAR}, #{item.userCode,jdbcType=VARCHAR}, 
        #{item.userName,jdbcType=VARCHAR}, #{item.userAvatar,jdbcType=VARCHAR}, #{item.userContact,jdbcType=VARCHAR}, 
        #{item.remarks,jdbcType=LONGVARCHAR}, #{item.multipleStatus,jdbcType=TINYINT}, 
        #{item.lastLoginTime,jdbcType=TIMESTAMP}, #{item.createUid,jdbcType=BIGINT}, #{item.updateUid,jdbcType=BIGINT}, 
        #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP}, #{item.version,jdbcType=BIGINT}, 
        #{item.delStatus,jdbcType=TINYINT})
    </foreach>
  </insert>
</mapper>