<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haohaodayouxi.manage.mapper.SMenuMapper">
  <resultMap id="BaseResultMap" type="com.haohaodayouxi.manage.model.db.SMenu">
    <!--@mbg.generated-->
    <!--@Table s_menu-->
    <id column="menu_id" jdbcType="BIGINT" property="menuId"/>
    <result column="menu_parent_id" jdbcType="BIGINT" property="menuParentId"/>
    <result column="menu_parent_path" jdbcType="VARCHAR" property="menuParentPath"/>
    <result column="menu_type" jdbcType="TINYINT" property="menuType"/>
    <result column="menu_name" jdbcType="VARCHAR" property="menuName"/>
    <result column="menu_icon" jdbcType="VARCHAR" property="menuIcon"/>
    <result column="menu_key" jdbcType="LONGVARCHAR" property="menuKey"/>
    <result column="active_menu" jdbcType="LONGVARCHAR" property="activeMenu"/>
    <result column="redirect" jdbcType="VARCHAR" property="redirect"/>
    <result column="menu_component" jdbcType="LONGVARCHAR" property="menuComponent"/>
    <result column="out_url" jdbcType="TINYINT" property="outUrl"/>
    <result column="show_order" jdbcType="INTEGER" property="showOrder"/>
    <result column="disabled" jdbcType="TINYINT" property="disabled"/>
    <result column="hidden" jdbcType="TINYINT" property="hidden"/>
    <result column="cached_view" jdbcType="TINYINT" property="cachedView"/>
    <result column="breadcrumb" jdbcType="TINYINT" property="breadcrumb"/>
    <result column="affix" jdbcType="TINYINT" property="affix"/>
    <result column="always_show" jdbcType="TINYINT" property="alwaysShow"/>
    <result column="menu_describe" jdbcType="VARCHAR" property="menuDescribe"/>
    <result column="create_uid" jdbcType="BIGINT" property="createUid"/>
    <result column="update_uid" jdbcType="BIGINT" property="updateUid"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    <result column="version" jdbcType="BIGINT" property="version"/>
    <result column="del_status" jdbcType="TINYINT" property="delStatus"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    menu_id, menu_parent_id, menu_parent_path, menu_type, menu_name, menu_icon, menu_key,
    active_menu, redirect, menu_component, out_url, show_order, disabled, hidden, cached_view,
    breadcrumb, affix, always_show, menu_describe, create_uid, update_uid, create_time,
    update_time, version, del_status
  </sql>

  <select id="listByParent" resultType="com.haohaodayouxi.manage.model.res.menu.SMenuListRes">
    select
    menu_id,
    menu_parent_id,
    menu_type,
    menu_name,
    menu_icon,
    menu_key,
    menu_component,
    show_order,
    disabled,
    update_time,
    EXISTS (select 1 from s_menu where del_status =0 and menu_parent_id = s.menu_id) as hasChildren
    from s_menu s
    where del_status =0
    and menu_parent_id = #{menuParentId,jdbcType=BIGINT}
    <if test="menuName != null and menuName != ''">
      and menu_name like concat('%', #{menuName,jdbcType=VARCHAR}, '%')
    </if>
    <if test="menuType != null">
      and menu_type = #{menuType,jdbcType=TINYINT}
    </if>
    <if test="disabled != null">
      and disabled = #{disabled,jdbcType=TINYINT}
    </if>
    order by show_order desc, update_time desc
  </select>

  <select id="labelValueByParent" resultType="com.haohaodayouxi.manage.model.res.menu.MenuTreeRes">
    select menu_id                                                                           as value,
           menu_name                                                                         as label,
           EXISTS (select 1 from s_menu where del_status = 0 and menu_parent_id = s.menu_id) as hasChildren
    from s_menu s
    where del_status = 0
      and menu_parent_id = #{parentId,jdbcType=BIGINT}
    order by show_order desc, update_time desc
  </select>

  <update id="changeParentPath">
    update s_menu
    set menu_parent_path = REPLACE(menu_parent_path, #{oldPath}, #{newPath})
    where menu_parent_path rlike #{oldPath}
  </update>

  <select id="sameCheck" resultType="boolean">
    select
    exists (
    select 1 from s_menu
    where del_status = 0
    and menu_parent_id = #{menuParentId}
    and (menu_name = #{menuName} or menu_key = #{menuKey})
    <if test="menuId != null">
      and menu_id != #{menuId}
    </if>
    )
  </select>
</mapper>
