<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haohaodayouxi.manage.mapper.SMenuMapper">
  <resultMap id="BaseResultMap" type="com.haohaodayouxi.manage.model.db.SMenu">
    <!--@mbg.generated-->
    <!--@Table s_menu-->
    <id column="menu_id" jdbcType="BIGINT" property="menuId" />
    <result column="menu_parent_id" jdbcType="BIGINT" property="menuParentId" />
    <result column="menu_type" jdbcType="TINYINT" property="menuType" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="menu_icon" jdbcType="VARCHAR" property="menuIcon" />
    <result column="menu_key" jdbcType="LONGVARCHAR" property="menuKey" />
    <result column="active_menu" jdbcType="LONGVARCHAR" property="activeMenu" />
    <result column="redirect" jdbcType="VARCHAR" property="redirect" />
    <result column="res_component" jdbcType="LONGVARCHAR" property="resComponent" />
    <result column="out_url" jdbcType="TINYINT" property="outUrl" />
    <result column="show_order" jdbcType="INTEGER" property="showOrder" />
    <result column="disabled" jdbcType="TINYINT" property="disabled" />
    <result column="hidden" jdbcType="TINYINT" property="hidden" />
    <result column="cached_view" jdbcType="TINYINT" property="cachedView" />
    <result column="breadcrumb" jdbcType="TINYINT" property="breadcrumb" />
    <result column="affix" jdbcType="TINYINT" property="affix" />
    <result column="always_show" jdbcType="TINYINT" property="alwaysShow" />
    <result column="res_describe" jdbcType="VARCHAR" property="resDescribe" />
    <result column="create_uid" jdbcType="BIGINT" property="createUid" />
    <result column="update_uid" jdbcType="BIGINT" property="updateUid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="del_status" jdbcType="TINYINT" property="delStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    menu_id, menu_parent_id, menu_type, menu_name, menu_icon, menu_key, active_menu, 
    redirect, res_component, out_url, show_order, disabled, hidden, cached_view, breadcrumb, 
    affix, always_show, res_describe, create_uid, update_uid, create_time, update_time, 
    version, del_status
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update s_menu
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="menu_parent_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.menuParentId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="menu_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.menuType,jdbcType=TINYINT}
        </foreach>
      </trim>
      <trim prefix="menu_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.menuName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="menu_icon = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.menuIcon,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="menu_key = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.menuKey,jdbcType=LONGVARCHAR}
        </foreach>
      </trim>
      <trim prefix="active_menu = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.activeMenu,jdbcType=LONGVARCHAR}
        </foreach>
      </trim>
      <trim prefix="redirect = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.redirect,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="res_component = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.resComponent,jdbcType=LONGVARCHAR}
        </foreach>
      </trim>
      <trim prefix="out_url = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.outUrl,jdbcType=TINYINT}
        </foreach>
      </trim>
      <trim prefix="show_order = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.showOrder,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="disabled = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.disabled,jdbcType=TINYINT}
        </foreach>
      </trim>
      <trim prefix="hidden = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.hidden,jdbcType=TINYINT}
        </foreach>
      </trim>
      <trim prefix="cached_view = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.cachedView,jdbcType=TINYINT}
        </foreach>
      </trim>
      <trim prefix="breadcrumb = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.breadcrumb,jdbcType=TINYINT}
        </foreach>
      </trim>
      <trim prefix="affix = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.affix,jdbcType=TINYINT}
        </foreach>
      </trim>
      <trim prefix="always_show = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.alwaysShow,jdbcType=TINYINT}
        </foreach>
      </trim>
      <trim prefix="res_describe = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.resDescribe,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="create_uid = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.createUid,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="update_uid = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.updateUid,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.updateTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="version = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.version,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="del_status = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.delStatus,jdbcType=TINYINT}
        </foreach>
      </trim>
    </trim>
    where menu_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.menuId,jdbcType=BIGINT}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update s_menu
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="menu_parent_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.menuParentId != null">
            when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.menuParentId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="menu_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.menuType != null">
            when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.menuType,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="menu_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.menuName != null">
            when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.menuName,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="menu_icon = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.menuIcon != null">
            when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.menuIcon,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="menu_key = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.menuKey != null">
            when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.menuKey,jdbcType=LONGVARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="active_menu = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.activeMenu != null">
            when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.activeMenu,jdbcType=LONGVARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="redirect = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.redirect != null">
            when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.redirect,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="res_component = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.resComponent != null">
            when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.resComponent,jdbcType=LONGVARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="out_url = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.outUrl != null">
            when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.outUrl,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="show_order = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.showOrder != null">
            when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.showOrder,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="disabled = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.disabled != null">
            when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.disabled,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="hidden = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.hidden != null">
            when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.hidden,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="cached_view = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.cachedView != null">
            when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.cachedView,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="breadcrumb = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.breadcrumb != null">
            when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.breadcrumb,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="affix = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.affix != null">
            when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.affix,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="always_show = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.alwaysShow != null">
            when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.alwaysShow,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="res_describe = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.resDescribe != null">
            when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.resDescribe,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_uid = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createUid != null">
            when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.createUid,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_uid = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updateUid != null">
            when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.updateUid,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createTime != null">
            when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updateTime != null">
            when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.updateTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="version = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.version != null">
            when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.version,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="del_status = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.delStatus != null">
            when menu_id = #{item.menuId,jdbcType=BIGINT} then #{item.delStatus,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
    </trim>
    where menu_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.menuId,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="menu_id" keyProperty="menuId" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into s_menu
    (menu_parent_id, menu_type, menu_name, menu_icon, menu_key, active_menu, redirect, 
      res_component, out_url, show_order, disabled, hidden, cached_view, breadcrumb, 
      affix, always_show, res_describe, create_uid, update_uid, create_time, update_time, 
      version, del_status)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.menuParentId,jdbcType=BIGINT}, #{item.menuType,jdbcType=TINYINT}, #{item.menuName,jdbcType=VARCHAR}, 
        #{item.menuIcon,jdbcType=VARCHAR}, #{item.menuKey,jdbcType=LONGVARCHAR}, #{item.activeMenu,jdbcType=LONGVARCHAR}, 
        #{item.redirect,jdbcType=VARCHAR}, #{item.resComponent,jdbcType=LONGVARCHAR}, #{item.outUrl,jdbcType=TINYINT}, 
        #{item.showOrder,jdbcType=INTEGER}, #{item.disabled,jdbcType=TINYINT}, #{item.hidden,jdbcType=TINYINT}, 
        #{item.cachedView,jdbcType=TINYINT}, #{item.breadcrumb,jdbcType=TINYINT}, #{item.affix,jdbcType=TINYINT}, 
        #{item.alwaysShow,jdbcType=TINYINT}, #{item.resDescribe,jdbcType=VARCHAR}, #{item.createUid,jdbcType=BIGINT}, 
        #{item.updateUid,jdbcType=BIGINT}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP}, 
        #{item.version,jdbcType=BIGINT}, #{item.delStatus,jdbcType=TINYINT})
    </foreach>
  </insert>
</mapper>